html, body, .container-fluid, .row ,.column-one, .column-two {
        background-color: #000;
        color: #7d7d7d;
        font-family: 'Source Code Pro', sans-serif ;
        height: 100%;
        margin: 0;
        padding: 0;
}
a,
a:link,
a:visited,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}
a:hover {
    color: #fff;
}

.container-fluid:before {
    content: '';
    height: 100%;
    float: left;
}

.height-maximizer {
    position: relative;
    z-index: 1;
}

.height-maximizer:after {
    content: '';
    clear: both;
    display: block;
}

.header {
    background-color: #e3e3e3;
    text-align: center;
}

.row {
    position: absolute;
    width: 100%;
    height: 100%;
}

.column-one {
    float: left;
    margin: 0;
    padding: 0;
}

.column-one, 
.column-two {
    overflow: auto;
}

.column-one {
    background-color: #1e1e1e;
}

.column-two {
    background-color: #2d2d2d;
    text-align: center;
}

#content a,
#content a:link,
#content a:visited {
    color: #9C9;
    text-decoration: inherit;
    font-weight: inherit;
}

h1 {
    color: #D8D8D8;
}

.sidebar-navigation-container {
    padding-top: 8px;
    text-shadow: 1px -1px #000;
}


.nav-item-first-level {
    padding-left: 8px;
}
.nav-item-second-level {
    padding-left: 30px;
    margin-top: 5px;
}

#home .home, #kazoo .kazoo {
    color: #d2d2d2;
    text-shadow: 1px 1px #000;
    background-image: -ms-linear-gradient(top, #4E4E4E 0%, #434343 100%);
    background-image: -moz-linear-gradient(top, #4E4E4E 0%, #434343 100%);
    background-image: -o-linear-gradient(top, #4E4E4E 0%, #434343 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4E4E4E), color-stop(1, #434343));
    background-image: -webkit-linear-gradient(top, #4E4E4E 0%, #434343 100%);
    box-shadow: 0px 5px 5px #262626;
}

.footer {
    width: 100%;
    line-height: 30px;
    height: 30px;
    text-align: center;
    background-image: -ms-linear-gradient(top, #2d2d2d 0%, #1e1e1e 100%);
    background-image: -moz-linear-gradient(top, #2d2d2d 0%, #1e1e1e 100%);
    background-image: -o-linear-gradient(top, #2d2d2d 0%, #1e1e1e 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2d2d2d), color-stop(1, #1e1e1e));
    background-image: -webkit-linear-gradient(top, #2d2d2d 0%, #1e1e1e 100%);
    box-shadow: 0px -3px 5px 0px #000;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    .nav-item-first-level {
        padding-left: 10px;
        padding-top: 10px;
    }

    .nav-item-second-level {
        padding-left: 23px;
    }

    .nav-item-first-level span {
        display: none;
    }

    .nav-item-second-level span {
        display: none;
    }
    .fa {
        font-size: 30px;
    }
}

